@charset "utf-8";
@import url('./reset.css');

.header {
	position: fixed;
    width: 100%;
    z-index: 2;
    background: white;
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.2);
}

.header__nav {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 60px;
	align-items: center;
	padding: 0 12px;
}